<div class="container">
    <a class="btn btn-default btn-sm" href="/sessions"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back</a>
    <div class="h4">{{detail.title}}</div>
    <div><strong>When:</strong>{{detail.timeslot}} <strong>Where:</strong>{{detail.room}}</div>
    <div class="h4 text-center">{{detail.displayName}}</div>
    <div>{{detail.body}}</div>
    <div><strong>Experience level:</strong> {{detail.experience}}</div>
    <a class="btn btn-default btn-sm" href="/sessions"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back</a>
</div>
