<div class="container">
    <div class="h3 text-center">{{title}}</div>
    <div ng-show="loading">
        <img class="img-responsive" src="images/loading.gif" alt="loading..." />
    </div>
    <div ng-show="showList">
        <div class="h3 text-center">Sponsors</div>
        <table class="table table-striped" cols="2">
            <tr ng-repeat="sponsor in sponsors">
                <td class="sponsor-title">
                    <a href="#/sponsor/{{sponsor.nid}}">{{sponsor.title}}</a>
                </td>
            </tr>
        </table>
    </div>
</div>
