<div class="container">
    <a class="btn btn-default btn-sm" href="/sponsors"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Back</a>
    <div class="sponsor-logo"><img class="img-responsive" ng-src="{{detail.logo}}" alt="Logo" /></div>
    <div class="h3 text-center">{{detail.title}}</div>
    <div>{{detail.body}}</div>
    <div class="h4" ng-show="detail.link !== ''"><strong>Url:</strong> <a href="{{detail.link}}">{{detail.link}}</a></div>
    <div class="h4"><strong>Support Level:</strong> {{detail.level}}</div>
</div>
