<div class="container">
    <div class="h3 text-center">{{title}}</div>
    <accordion close-others="true">
        <accordion-group heading="Location" is-open="true">
            <div class="h3 text-center">{{dates}}</div>
            <address>
                <strong>Austin Convention Center</strong><br />
                500 E. Cesar Chavez<br />
                Austin, TX 78701
            </address>
            <img src="images/ACCOutside.jpg" alt="Austin Convention Center Outside View" class="img-responsive img-rounded" />
        </accordion-group>
        <accordion-group heading="Parking">
            <p>There are two parking garages for the Austin Convention Center</p>
            <address>
                <strong>2nd Street Garage</strong><br />
                201 East 2nd Street
            </address>
            <p>
                Entrances on Brazos and San Jacinto Streets. Most convenient parking for events scheduled in Exhibit Halls 1, 2 and 3, and meeting rooms 1-10.
            </p>
            <address>
                <strong>5th Street Garage</strong><br />
                601 East 5th Street
            </address>
            <p>
                Entrance on 5th Street, between Red River and Sabine Streets.
                Most convenient parking for events scheduled in Exhibit Halls 5, 4 and 3 and Level 4 meeting rooms 11-19.
            </p>
        </accordion-group>
        <accordion-group heading="Map">
            <div>
                <div class="center-block">
                    <img class="img-responsive img-rounded" src="images/ACC_static_map.png" alt="map" /><br />
                </div>
                <div class="text-center">
                    <a href="https://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=500+E+Cesar+Chavez+Street,+Austin,+TX&aq=0&oq=500+E.+Cesar+Chavez&sll=31.168934,-100.076842&sspn=15.741181,15.117188&ie=UTF8&hq=&hnear=500+E+Cesar+Chavez+St,+Austin,+Texas+78701&ll=30.263367,-97.739997&spn=0.016272,0.01929&t=m&z=14">
                        View larger map
                    </a>
                </div>
            </div>
        </accordion-group>
        <accordion-group heading="Directions">
            <accordion>
                <accordion-group heading="From Austin Bergstrom International Airport">
                    <p>
                        Take Bastrop Hwy TX-71 W (TX-71 becomes E. Ben White Blvd) for 5.6 miles.<br />
                        Turn slight right onto S I-35 (.2 miles).<br />
                        Merge onto I-35 N / US-290 E / US-81N (2.8 miles).<br />
                        Take Exit 234B toward 2nd-4th Streets / 1st Street / Cesar Chavez (.1 miles).<br />
                        Continue ahead to go onto I-35 N (.1 miles).<br />
                        Turn left onto E. 1st Street / Cesar Chavez Street E (.2 miles).<br />
                        Facility is on your right.        
                    </p>
                </accordion-group>
                <accordion-group heading="From I-35 North">
                    <p>
                        Go South on I-35.<br />
                        Take Exit 234A toward 1st Street / Holly Street.<br />
                        Turn right onto E 1st Street. / Cesar Chavez Street E.<br />
                        Facility is on your right.
                    </p>
                </accordion-group>
                <accordion-group heading="From I-35 South">
                    <p>
                        Go North on I-35.<br />
                        Take Exit 234B toward 2nd-4th Streets. / 1st Street. / Cesar Chavez.<br />
                        Continue ahead.<br />
                        Turn left onto E. 1st Street / Cesar Chavez Street E.<br />
                        Facility is on your right.
                    </p>
                </accordion-group>
                <accordion-group heading="From Loop 1 (MoPac) North">
                    <p>
                        Take Texas Loop 1 (MoPac Expressway) South.<br />
                        Take the 5th Street / 1st Street exit.<br />
                        Take the 1st Street ramp.<br />
                        Merge onto Cesar Chavez Street E / W 1st Street.<br />
                        Facility is on your left.
                    </p>
                </accordion-group>
                <accordion-group heading="From Loop 1 (MoPac) South">
                    <p>
                        Take Texas Loop 1 (MoPac Expressway) North<br />
                        Take the 5th Street / Lake Austin Blvd. / 1st Street exit.<br />
                        Merge onto Cesar Chavez Street E / W 1st Street.<br />
                        Facility is on your left.
                    </p>
                </accordion-group>
            </accordion>
        </accordion-group>
        <accordion-group heading="Floors">
            <div class="h3 text-center">Floors</div>
            <div class="h4">Level 1</div>
            <img src="images/ACC_Floor1.jpg" alt="Level 1" />
            <div class="h4">Level 2</div>
            <img src="images/ACC_Floor2.png" alt="Level 2" />
            <div class="h4">Level 3</div>
            <img src="images/ACC_Floor3.jpg" alt="Level 3" />
            <div class="h4">Level 4</div>
            <img src="images/ACC_Floor4.jpg" alt="Level 4" />
        </accordion-group>
    </accordion>
</div>

